:root {
  --fontMin: 0.8em;
  --fontNear: 0.95em;
  --fontNormal: 1.1em;
  --fontBig: 1.25em;
}

html,
body {
  height: 100%;
  color: #FCE1E5;
  font-size: 1.05em;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
